{% extends "masterPage.twig" %}
{% block body %}

<div class="title">
	<h1>Mon panier</h1>
</div>

<div class="container container-cart">
	<div class="row align-items-center row-cart">

		{% for game in games %}
			<!--game -->
			<div class="col-md-10 col-cart-1 border-smooth">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-md-3">
							<a class="img-link" href="game?id={{ game.id }}">
								<img class="cover border-smooth" src="./assets/pictures/{{ game.illustration }}-cover-sm.png" />
							</a>
						</div>
	
						<div class="col-md-3 col-cart-3">
							<p>
								{{ game.title }}<br>
								<span class="underline">Editeur :</span> {{ game.editor }}<br>
								<span class="underline">Développeur :</span> {{ game.developer }}<br>
							</p>
						</div>
	
						<div class="col-md-3 col-cart-4">
							<p>
								<span class="underline">Plateforme :</span> {{ game.platform }}<br>
								<span class="underline">Genres :</span>
	    							{% for genre in game.genres %}
	    								{% if loop.last %}
	    									{{ genre.name }} 
	    								{% else %}
	    									{{ genre.name }} |
	    								{% endif %}
	    							{% endfor %}
	    							<br>
								<span class="underline">Date de sortie :</span> {{ game.released|date('d/m/Y') }}<br>
							</p>
						</div>
	
						<div class="col-md-3 col-price">
							<p>{{ game.price }}</p>
						</div>
					</div>
				</div>
			</div>
	
			<div class="col-md-2 col-cart-2 border-smooth">
				<div class="row align-items-center">
					
					<!--pay button-->
					<div class="col-md-12">
						<div class="submit-button pay">
							<button type="submit" class="btn btn-primary btn-pay">
								<i class="fas fa-euro-sign"></i>
							</button>
						</div>
	
						<!--delete button-->
						<div class="submit-button delete">
							<a href="/cart/cancel?index={{ loop.index0 }}">
								<button type="submit" class="btn btn-primary btn-delete">
									<i class="fas fa-times"></i>
								</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}