{% extends "masterPage.twig" %}
{% block body %}

<div class="title">
	<h1>Catalogue</h1>
</div>

<div class="container con-catalogue">
	<div class="row ro-catalogue-1">

		<!--filter-->
		<div class="col-md-2">
			<form class="form-filter filter border-smooth" action="/catalogue/filter" novalidate>
				<h3>Filtrage</h3>
	
				<!--editor option-->
				<div class="form-group">
					<h5>Editeur
						<i class="fas fa-plus-circle discover clickable-icon" data-target="editor"></i>
					</h5>
					
					<div class="editor invisible">
						{% for editor in editors %}
					    	<div class="block">
					    		<label for="editor"></label>
								<input type="checkbox" class="editor filter" name="editor[]" id="editor" value="{{ editor.editor }}">
								{{ editor.editor }}
							</div>
						{% endfor %}
					</div>
				</div>
				
				<!--developer option-->
				<div class="form-group">
					<h5>Développeur
						<i class="fas fa-plus-circle discover clickable-icon" data-target="developer"></i>
					</h5>
					
					<div class="developer invisible">
						{% for developer in developers %}
							<div class="block">
						    	<label for="developer"></label>
								<input type="checkbox" class="developer filter" name="developer[]" id="developer" value="{{ developer.developer }}">
								{{ developer.developer }}
							</div>
						{% endfor %}
					</div>
				</div>
				
				<!--platform option-->
				<div class="form-group">
					<h5>Plateforme
						<i class="fas fa-plus-circle discover clickable-icon" data-target="platform"></i>
					</h5>
					
					<div class="platform invisible">
						{% for platform in platforms %}
							<div class="block">
						    	<label for="plateform"></label>
								<input type="checkbox" class="platform filter" name="platform[]" id="platform" value="{{ platform.platform }}">
								{{ platform.platform }}
							</div>
						{% endfor %}
					</div>
				</div>
				
				<!--genre option-->
				<div class="form-group">
					<h5>Genre
						<i class="fas fa-plus-circle discover clickable-icon" data-target="genre"></i>
					</h5>
					
					<div class="genre invisible">
						{% for genre in genres %}
							<div class="block">
						    	<label for="genre"></label>
								<input type="checkbox" class="genre filter" name="genre[]" id="genre" value="{{ genre.name }}">
								{{ genre.name }}
							</div>
						{% endfor %}
					</div>
				</div>
				
				<!--release period option-->
				<div class="form-group">
					<h5>Date de sortie
						<i class="fas fa-plus-circle discover clickable-icon" data-target="released"></i>
					</h5>
					
					<div class="released invisible">
						<div class="block">
							<label for="released"></label>
							<input type="checkbox" class="released filter" name="released[]" id="released" value="<0">
							A venir
						</div>
						
						<div class="block">
							<label for="released"></label>
							<input type="checkbox" class="released filter" name="released[]" id="released" value="-3">
							- 3 mois
						</div>
						
						<div class="block">
							<label for="released"></label>
							<input type="checkbox" class="released filter" name="released[]" id="released" value="3-6">
							3 - 6 mois
						</div>
						
						<div class="block">
							<label for="released"></label>
							<input type="checkbox" class="released filter" name="released[]" id="released" value="6-12">
							6 - 12 mois
						</div>
						
						<div class="block">
							<label for="released"></label>
							<input type="checkbox" class="released filter" name="released[]" id="released" value=">12">
							+ 12 mois
						</div>
					</div>
				</div>
				
				<!--price option-->
				<div class="form-group">
					<h5>Prix
						<i class="fas fa-plus-circle discover clickable-icon" data-target="price"></i>
					</h5>
					
					<div class="price invisible">
						<div class="block">
							<label for="price"></label>
							<input type="checkbox" class="price filter" name="price[]" id="price" value="<25">
							< 25€
						</div>
						
						<div class="block">
							<label for="price"></label>
							<input type="checkbox" class="price filter" name="price[]" id="price" value="25-50">
							25 - 50€
						</div>
						
						<div class="block">
							<label for="price"></label>
							<input type="checkbox" class="price filter" name="price[]" id="price" value="50-75">
							50 - 75€
						</div>
						
						<div class="block">
							<label for="price"></label>
							<input type="checkbox" class="price filter" name="price[]" id="price" value=">75">
							> 75€
						</div>
					</div>
				</div>
				
				<div class="submit-button">
					<button type="submit" class="btn btn-primary">Filtrer</button>
				</div>
			</form>
		</div>


		<!--catalogue-->
		<div class="col-md-10">
			<div class="container">
				{% if games == null %}
					<div class="game row align-items-center ro-catalogue ro-catalogue-2 border-smooth bg-color-2">
						<p>
							Aucun jeu ne correspond à votre recherche
						</p>
					</div>
				{% else %}
					{% for game in games %}
					    {% if loop.first %}
					        <div class="game row align-items-center ro-catalogue ro-catalogue-2 border-smooth bg-color-2">
					    {% else %}
					        <div class="game row align-items-center ro-catalogue ro-catalogue-3 border-smooth bg-color-2">
					    {% endif %}
					    
	    					<div class="col-md-3">
	    						<a class="img-link" href="/game?id={{ game.id }}">
	    							<img class="cover border-smooth" src="https://m1iirvij-heitz-martin-sylvestreee.c9users.io/assets/pictures/{{ game.illustration }}-cover-sm.png" />
	    						</a>
	    					</div>
	    
	    					<div class="col-md-3 col-catalogue-1">
	    						<p>
	    							{{ game.title }}<br>
	    							<span class="underline">Editeur :</span> {{ game.editor }}<br>
	    							<span class="underline">Développeur :</span> {{ game.developer }}<br>
	    						</p>
	    					</div>
	    
	    					<div class="col-md-3 col-catalogue-2">
	    						<p>
	    							<span class="underline">Plateforme :</span> {{ game.platform }}<br>
	    							<span class="underline">Genres :</span>
	    							{% for genre in game.genres %}
	    								{% if loop.last %}
	    									{{ genre.name }} 
	    								{% else %}
	    									{{ genre.name }} |
	    								{% endif %}
	    							{% endfor %}
	    							<br>
	    							<span class="underline">Date de sortie :</span> {{ game.released|date('d/m/Y') }}<br>
	    						</p>
	    					</div>
	    
	    					<div class="col-md-3 col-price">
	    						<p>{{ game.price }}€</p>
	    					</div>
	    				</div>
	    			{% endfor %}
	    		{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}