{% extends "masterPage.twig" %}
{% block body %}

<div class="title">
	<h1>Fiche produit</h1>
</div>

<!--game description-->
<div class="container container-game-1 border-smooth">
	<div class="row align-items-center">
		<div class="col-md-6">
			<img class="cover border-smooth" src="./assets/pictures/{{ game.illustration }}-cover.png" />
		</div>

		<div class="col-md-6">
			<div class="row align-items-center">
				<div class="col-md-6">
					<p>
						{{ game.title }}<br>
						<span class="underline">Editeur :</span> {{ game.editor }}<br>
						<span class="underline">Développeur :</span> {{ game.developer }}<br>
					</p>
				</div>

				<div class="col-md-6">
					<p>
						<span class="underline">Plateforme :</span> {{ game.platform }}<br>
						<span class="underline">Genres :</span>
							{% for genre in game.genres %}
								{% if loop.last %}
									{{ genre.name }} 
								{% else %}
									{{ genre.name }} |
								{% endif %}
							{% endfor %}
						<br>
						<span class="underline">Date de sortie :</span> {{ game.released|date('d/m/Y') }}<br>
					</p>
				</div>
			</div>

			<p>
				<span class="underline">Synopsis :</span> 
				{{ game.synopsis }}
			</p>

			<p class="col-price">{{ game.price }}€</p>

			<div class="basket-button">
				<button type="submit" class="btn btn-primary">Mettre dans le panier</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}