{% extends "masterPage.twig" %}
{% block body %}

<div class="container con-home-1">

	<!--new releases-->
	<div id="news" class="carousel slide" data-ride="carousel">
		<ul class="carousel-indicators">
			<li data-target="#news" data-slide-to="0" class="active"></li>
			<li data-target="#news" data-slide-to="1"></li>
			<li data-target="#news" data-slide-to="2"></li>
		</ul>

		<div class="carousel-inner">
            {% for new in news %}
                {% if loop.first %}
                    <div class="carousel-item active">
                {% else %}
                	<div class="carousel-item">
                {% endif %}
                    	<a class="img-link" href="game">
                            <img src="./assets/pictures/{{ new.illustration }}-wallpaper.png" /> 
                        </a>
                        <div class="carousel-caption">
                            <h3>{{ new.title }}</h3>
                            <p>{{ new.catchphrase }}</p>
                        </div>
                    </div>
            {% endfor %}
    	</div>

		<a class="carousel-control-prev" href="#news" data-slide="prev">
			<i class="fas fa-chevron-circle-left"></i>
		</a>
		<a class="carousel-control-next" href="#news" data-slide="next">
			<i class="fas fa-chevron-circle-right"></i>
		</a>
	</div>

	<div class="subtitle">
		<h3><i class="fas fa-calendar-alt"></i> Dernières sorties</h3>
	</div>
</div>

<div class="container con-home-2">
	<div class="row align-items-start ro-home-1">
		<div class="col-md-6 colo-home-1">

			<!--bestsellers-->
			<div id="bestsellers" class="carousel slide" data-ride="carousel">
				<ul class="carousel-indicators">
					<li data-target="#bestsellers" data-slide-to="0" class="active"></li>
					<li data-target="#bestsellers" data-slide-to="1"></li>
					<li data-target="#bestsellers" data-slide-to="2"></li>
				</ul>

				<div class="carousel-inner">
					{% for bestseller in bestsellers %}
						{% for test in bestseller.purchased %}
							{{ test.id }}
						{% endfor %}
						{% if loop.first %}
							<div class="carousel-item active">
						{% else %}
							<div class="carousel-item">
						{% endif %}
								<div class="container">
									<div class="row align-items-center">
										<div class="col-md-6">
											<a class="img-link" href="game">
												<img class="cover border-smooth" src="./assets/pictures/{{ bestseller.illustration }}-cover.png" />
											</a>
										</div>
										
										<div class="col-md-6">
											<i class="fas fa-medal">#{{ loop.index }}</i>
											<h4>{{ bestseller.title }}</h4>
											<p> 
												<span class="underline">Editeur :</span> {{ bestseller.editor }}<br>
												<span class="underline">Développeur :</span> {{ bestseller.developer }}<br>
												{{ bestseller.price }}€
											</p>
										</div>
									</div>
								</div>
							</div>
					{% endfor %}
				</div>

				<a class="carousel-control-prev" href="#bestsellers" data-slide="prev">
					<i class="fas fa-chevron-circle-left"></i>
				</a>
				<a class="carousel-control-next" href="#bestsellers" data-slide="next">
					<i class="fas fa-chevron-circle-right"></i>
				</a>
			</div>

			<div class="subtitle">
				<h3><i class="fas fa-medal"></i> Meilleures ventes</h3>
			</div>
		</div>

		<div class="col-md-6 colo-home-2">

			<!--suggestion-->
			<div class="container con-home-3">
				<div class="row align-items-center ro-home-2">
					<div class="col-md-6">
						<a class="img-link" href="game">
							<img class="cover border-smooth" src="./assets/pictures/{{ suggestion.illustration }}-cover.png" />
						</a>
					</div>
					
					<div class="col-md-6">
						<h4>{{ suggestion.title }}</h4>
						<p>
							<span class="underline">Editeur :</span> {{ suggestion.editor }}<br>
							<span class="underline">Développeur : </span> {{ suggestion.developer }}<br>
							{{ suggestion.price }}
						</p>
					</div>
				</div>

				<div class="subtitle">
					<h3><i class="fas fa-exclamation-circle"></i> Ça peut vous intéresser</h3>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}